<style>

#nav {
    height: 130px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
    color: white;
  }
  #nav img {
    height: 4.5vw;
  }
  #nav a{
    text-decoration: none;
    color: white;
  }
  #nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.15vw;
  }
  .link{
    display: flex;
    gap: 26px;
    padding-left: 15%;
  }
  .link a{
    text-align: center;
  }



</style>


<div id="nav">
    <img src="btch.jpg" alt="" />
    <a href="/">HOME</a>
    <a href="/pastEvent">PAST EVENT</a>
    <a href="/upcomingevent">UPCOMING EVENT</a>
    <a href="/profile">PROFILE</a>
    <a href="/admin">ADMIN</a>
    <a href="#">CONTACTS</a>
    <div class="link">
      <a href="/signup">SIGNUP</a>
      <a href="/login">LOGIN</a>
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
