<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Burst</title>
    <style>
        .container{
            height: 80%;
            width: 40%;
        }
        .container input{
            width: 30%;
            height: 5%;
        }
    </style>
</head>
<body>
    <form method="post" action="/login">

        <div class="container">
        
        <input type="text" name="username" placeholder="Enter username">
            <br>
        <input type="password" name="password" placeholder="Enter password">
            <br>
        <button>Submit</button>
    </div>
    </form>
</body>
</html>