<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addevent</title>
</head>
<body>
    <form method="post" action="/addevent">
        <label for="title">Title</label>
        <input name="title" type="text" placeholder="enter title"><br>

        <label for="title">Description</label>
        <input name="description" type="text" placeholder="enter description"><br>

        <label for="posterUrl">PosterUrl</label>
        <input name="posterUrl" type="text" placeholder="enter posterUrl"><br>

        <label for="dateOfEvent">Date of Event</label>
        <input name="dateOfEvent" type="date" placeholder="enter date of event"><br>

        <label for="location">location</label>
        <input name="location" type="text" placeholder="enter location"><br>

        <label for="club">club</label>
        <input name="club" type="text" placeholder="enter club"><br>



        <button>Submit now!</button>
    </form>
</body>
</html>