<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventburst</title>
</head>
<body>
    <form method="post" action="/addpastevent">
        <div class="container">
            <label for="title">Title</label>
            <input name="title" type="text" required="true">

            <label for="description">Description</label>
            <input name="description" type="text" required="true">

            <label for="posterUrl">posterUrl</label>
            <input name="posterUrl" type="text" required="true">

            <label for="eventUrl">eventUrl</label>
            <input name="eventUrl" type="text" required="true">

            <label for="dateOfEvent">dateOfEvent</label>
            <input name="dateOfEvent" type="date" required="true">

            <label for="loaction">location</label>
            <input name="location" type="text" required="true">

            <button>Submit</button>

        </div>
    </form>
</body>
</html>