<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin view</title>
</head>
<body>
    <div class="container">
        <form method="GET" action="/upcomingevent">
            <button>Upcomingevent</button>
        </form>

        <form method="get" action="/addevent">
            <button>addevent</button>
        </form>

        <form method="get" action="/admin/pasteventform">
            <button>add pastevent</button>
        </form>

        <form method="get" action="/admin/winner">
            <button>add ecian of the week</button>
        </form>
    </div>
    
</body>
</html>