<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner</title>
</head>
<body>
    <form method="post" action="/admin/winner" >
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="entername">
        
        
        <label for="imageUrl">Imageurl</label>
        <input name="imageUrl" type="text" placeholder="imageUrl">
    
        
        <label for="department">Department</label>
        <input name="department" type="text" placeholder="department">
    
        
        <label for="semester">Semester</label>
        <input name="semester" type="number" placeholder="semester">
        
        
        <label for="year">Year</label>
        <input name="year" type="number" placeholder="year">
        <button>Submit</button>
    
    </form>

    
</body>
</html>